# AWS Lambda API Configuration
NEXT_PUBLIC_API_BASE_URL=http://021c7df6474b41aabbe777af19a58c72-ap-southeast-3.alicloudapi.com/verify-pin-behavior
NEXT_PUBLIC_API_KEY=yjdeCUp67eIG90DKXuvi9YH4bKErZfPz

# App Credentials
NEXT_PUBLIC_APP_KEY=205003178

# Secure PIN API Endpoints
NEXT_PUBLIC_PIN_CREATE_ENDPOINT=/pin/create
NEXT_PUBLIC_PIN_VERIFY_ENDPOINT=/pin/verify
NEXT_PUBLIC_PIN_UPDATE_ENDPOINT=/pin/update
NEXT_PUBLIC_PIN_RESET_ENDPOINT=/pin/reset

# PenipuMY server-side configuration
PENIPU_API_BASE_URL=https://penipu.my
PENIPU_API_KEY=
